*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.RegPage{
  height: 100vh;
  width:  100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url('../images/bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.RegForm{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(1 ,32, 93, 0.6);
  color: white;
  padding: 0.3rem 1.1rem;
}
h{
  font-size: 1.7rem;
  font-weight: 650;
}
.RegForm form{
  width: 100%;
}
.RegForm .inputfield{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
  border-radius: 8px;
  margin-top: 0.7rem ;
}
.inputParentContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  position: relative;
}
.showpasswordBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  color:#0d1936;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  position: absolute;
  right: 0px;
  top: 10px;
}
.RegForm .inputfield input{
  height: 38px;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
}
.register_btnContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register_btnContainer button {
  height: 38px;
  width: 100%;
  text-align: center;
  background: #0d1936;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
}
.checkbox{
  width: 100%;
  display: flex;
  align-items: Start;
  margin: 1rem 0px;
  gap: 0.2rem;
}
.checkbox input{
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.checkbox label{
  width: 100%;
  font-size: 0.9rem;
}
label span{
  padding-left: 6px;
  /* color: #0d1936; */
  font-weight: bolder;
  font-size: 0.9rem;
}
.error {
  color: rgb(183, 39, 39);
  font-size: 0.9em;
}